/* 
开发者："凯"
全局性项目||所有html除特殊文件外所有文件都需要加载
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: "KaiTi";
}

html,
body {
    height: 100%;
    width: 100%;
}

#hemo {
    width: 100%;
    width: 100%;
}